:root {
	--tp_border: rgba(204, 204, 204, 0.5);
	--tp_divider: rgba(204, 204, 204, 1);
	--tp_background: rgba(255, 255, 255, 0.5);
	--tp_boxshadow: rgba(0,0,0,0.2);
	--tp_article-border: var(--tp_divider);
	--tp_comment-background: var(--tp_background);
	--tp_comment-border: var(--tp_border);
	--tp_comment-boxshadow: var(--tp_boxshadow);
	--tp_article-icon-border: var(--tp_border);
	--tp_blockopts-border: var(--tp_border);
	--tp_panelstyles-background: var(--tp_background);
	--tp_half21-background: rgba(177, 187, 197, 1);
	--tp_half21-box-shadow: rgba(255,255,255,0.15);
	--tp_half21-text-shadow: var(--tp_boxshadow);
/* Blocks */
	--tp_recenttopics-border: var(--tp_border);
	--tp_sitemap-background: rgba(85, 85, 85, 1);
	--tp_sitemap-color: var(--tp_background);
	--tp_rssbody-background: var(--tp_background);
	--tp_rssbody-border: var(--tp_border);
/* Shoutbox */
	--tp_shoutbody-background: var(--tp_background);
	--tp_shoutbody-border: rgba(136, 136, 136, 1);
	--tp_shouterror-background: rgba(255, 153, 153, 1);
	--tp_shouterror-border: rgba(204, 0, 0, 1);
	--tp_bubble-background: var(--tp_shout-bgeven);
	--tp_bubble-border: rgba(153, 153, 153, 1);
	--tp_bubble-boxshadow: var(--tp_boxshadow);
/*Shoutbox settings: add !important to overrule the setting value in a theme, example: 
	--tp_shout-textcolor: #000 !important; */
	--tp_shout-textcolor: #000;
	--tp_shout-timecolor: #787878;
	--tp_shout-bgodd: #f0f4f7;
	--tp_shout-bgeven: #fdfdfd;
}
