:root {
	--tinyportal-border: rgba(204, 204, 204, 0.5);
	--tinyportal-background: rgba(255, 255, 255, 0.5);
	--tinyportal-boxshadow: rgba(0,0,0,0.2);
	--article-border: var(--tinyportal-border);
	--comment-background: var(--tinyportal-background);
	--comment-border: var(--tinyportal-border);
	--comment-boxshadow: var(--tinyportal-boxshadow);
	--catlayout-border: var(--tinyportal-border);
	--article-icon-border: var(--tinyportal-border);
	--blockopts-border: var(--tinyportal-border);
	--tp_half21-background: rgba(177, 187, 197, 1);
	--tp_half21-box-shadow: rgba(255,255,255,0.15);
	--tp_half21-text-shadow: var(--tinyportal-boxshadow);
/* Blocks */
	--recenttopics-border: var(--tinyportal-border);
	--tpsitemap-background: rgba(85, 85, 85, 1);
	--tpsitemap-color: var(--tinyportal-background);
	--panels-background: var(--tinyportal-background);
	--rss_body-background: var(--tinyportal-background);
	--rss_body-border: var(--tinyportal-border);
/* Shoutbox */
	--tp_shoutbody-background: var(--tinyportal-background);
	--tp_shoutbody-border: rgba(136, 136, 136, 1);
	--tp_shouterror-background: rgba(255, 153, 153, 1);
	--tp_shouterror-border: rgba(204, 0, 0, 1);
	--tp_bubble-background: var(--tp_shout-bgeven);
	--tp_bubble-border: rgba(153, 153, 153, 1);
	--tp_bubble-boxshadow: var(--tinyportal-boxshadow);
/*Shoutbox settings: add !important to overrule the setting value in a theme, example: 
	--tp_shout-textcolor: #000 !important; */
	--tp_shout-textcolor: #000;
	--tp_shout-timecolor: #787878;
	--tp_shout-bgodd: #f0f4f7;
	--tp_shout-bgeven: #fdfdfd;
}
